{% extends 'base.html' %}

{% block scripts %}

<style>
.center-div
{
     margin: 0 auto;
     width: 70%; 
}
</style>

{% endblock %}

{% block content %}
<div class="center-div">
<h1 class="center">
Zippy Express<br><br>
</h1>
<h3>
Thank you, we will be there as soon as possible. Please have your cash ready! :)
</h3>
<br>
<h3>Like us on Facebook!</h3>
<iframe src="https://www.facebook.com/plugins/like.php?href=https://www.facebook.com/textbookxchange"
    scrolling="no" frameborder="0"
    style="border:none; width:450px; height:80px"></iframe>
</div>
{% endblock %}
